.widget{
    background:$light-blue;
    margin-bottom: $l-size;
}

.widget-header{
    background: $blue;
    color: $off-white;
    padding: $s-size;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
}
.widget-header__title{
    margin:0;
}
.widget__message{
    margin: 1.2;
    display: flex;
    justify-content: space-around;
    color: $off-white;
}